<div id="fourth_slide" class="header-content__slide header-content__slide--fourth">
    <div class="header-content__info4">
      <h5 style="margin-bottom: 5rem;">Kontakt</h5>
      <div class="contact-container">
        <div class="contact-info">
          <h4>WDA UA e.V.</h4>
          <p><strong>Sitz:</strong> Werdau</p>
          <p><strong>Adresse:</strong> Holzstr. 20, 08412 Werdau</p>
          <p><strong>E-Mail:</strong> <a href="mailto:info@wda-ua.de">info@wda-ua.de</a></p>
          <p><strong>Telefon:</strong> <a href="tel:+4917612345678">+49 176 12345678</a></p>
        </div>
        <div class="board-members">
          <h4>Vorstandsmitglieder</h4>
          <ul>
            <li>Mariia Perkhalets - Vorsitzende</li>
            <li>Oleksandr Starodub - Stellvertretender Vorsitzender</li>
            <li>Olga Semerenko - Kassenwart</li>
            <li>Maryna Kryvopusk - Protokollführer</li>
          </ul>
        </div>
      </div>
      <div class="social-media">
        <a href="#" class="social-icon"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="social-icon"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="social-icon"><i class="bx bxl-twitter"></i></a>
      </div>
    </div>
  </div>