{% load static %}

<div class="swiper-slide slider__item">
    <div class="slider__layer" data-swiper-parallax="35%" style="background-image: url({% static 'assets/img/slides/leaves-bg3-back.png' %});"></div>
    <div class="slider__layer" data-swiper-parallax="25%" style="background-image: url({% static 'assets/img/slides/leaves-bg3-middle.png' %});"></div>
    <div class="slider__layer" data-swiper-parallax="14%" style="background-image: url({% static 'assets/img/slides/leaves-bg3-front.png' %});"></div>
  </div>
  <div class="swiper-slide slider__item">
    <div class="slider__layer" data-swiper-parallax="35%" style="background-image: url({% static 'assets/img/slides/new-bg7-back.png' %});"></div>
    <div class="slider__layer" data-swiper-parallax="25%" style="background-image: url({% static 'assets/img/slides/new-bg7-middle.png' %});"></div>
    <div class="slider__layer" data-swiper-parallax="14%" style="background-image: url({% static 'assets/img/slides/new-bg7-front.png' %});"></div>
  </div>
  <div class="swiper-slide slider__item">
    <div class="slider__layer" data-swiper-parallax="35%" style="background-image: url({% static 'assets/img/slides/new-bg4-back.png' %});"></div>
    <div class="slider__layer" data-swiper-parallax="28%" style="background-image: url({% static 'assets/img/slides/new-bg4-middle.png' %});"></div>
    <div class="slider__layer" data-swiper-parallax="14%" style="background-image: url({% static 'assets/img/slides/new-bg4-front.png' %});"></div>
  </div>
  <div class="swiper-slide slider__item">
    <div class="slider__layer" data-swiper-parallax="35%" style="background-image: url({% static 'assets/img/slides/main-background-back.png' %});"></div>
    <div class="slider__layer" data-swiper-parallax="25%" style="background-image: url({% static 'assets/img/slides/main-background-middle.png' %});"></div>
    <div class="slider__layer" data-swiper-parallax="14%" style="background-image: url({% static 'assets/img/slides/main-background-front.png' %});"></div>
  </div>