{% load static %}
<div class="swiper-slide slider__item">
    <div class="header-content__slide active">
        <h3 class="letters">WDA UA</h3>
        <div class="header-content__info">
            <p>As an environmental charity, we’re on a mission to make it simple for everyone to help the environment by planting each one tree!</p><br>
            <button class="button button--main">Plant a tree now</button>
        </div>
    </div>
    <div class="slider__layer" data-swiper-parallax="35%" style="background-image: url({% static 'assets/img/slides/bg-layer-back.png' %});"></div>
    <div class="slider__layer" data-swiper-parallax="25%" style="background-image: url({% static 'assets/img/slides/bg-layer-middle.png' %});"></div>
    <div class="slider__layer" data-swiper-parallax="14%" style="background-image: url({% static 'assets/img/slides/bg-layer-front.png' %});"></div>
</div>
