{% load static wagtailcore_tags wagtailimages_tags %}
{% load custom_filters %}
<section id="about" class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="{% static 'assets/img/velikden.mp4' %}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <h3>Über uns</h3>
          <p>
            Willkommen bei "WDA UA e.V.", der Ukrainischen Gemeinde in Werdau! Wir sind ein eingetragener Verein und unser Jahr läuft wie das Kalenderjahr.
          </p>
          <p>
            Unser Ziel ist es, Menschen zu unterstützen, die politisch, rassistisch oder religiös verfolgt werden, sowie Flüchtlingen und Kriegsopfern zu helfen. Außerdem fördern wir internationale Freundschaften und Toleranz in allen kulturellen Bereichen.
          </p>
          <div class="row">
            <div class="col-md-6">
              <i class="bx bx-receipt"></i>
              <h4>Integration und Bildung</h4>
              <p>Wir helfen Kindern und Jugendlichen, sich zu integrieren und weiterzuentwickeln.</p>
            </div>
            <div class="col-md-6">
              <i class="bx bx-cube-alt"></i>
              <h4>Gute Beziehungen</h4>
              <p>Wir stärken die Beziehungen zwischen der Ukraine und Deutschland in sozialen, kulturellen, pädagogischen und sportlichen Bereichen.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- End About Section -->
  